li {
    list-style-type: circle;
    margin-left: 2em;
    margin-bottom: 5px;
}

footer.row {
    border-top: 1px solid #E6E6E6;
    margin-top: 80px;
    padding-top: 20px;
}

div.inner-content {
    margin-left: 2em;
}

div.sidebar {
    float: right;
}
