<!DOCTYPE html>
%html

  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
  <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  %head
    %meta charset="utf-8"

    <!-- Set the viewport width to device width for mobile -->
    %meta name="viewport" content="width=device-width"

    %title
      Adopte un député

    <!-- Included CSS Files -->
    %link rel="stylesheet" href="/static/stylesheets/foundation.css"
    %link rel="stylesheet" href="/static/stylesheets/app.css"
    %link rel="stylesheet" href="/static/stylesheets/main.css"

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/static/stylesheets/ie.css">
    <![endif]-->

    %script src="/static/javascripts/modernizr.foundation.js"

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  %body

    <!-- container -->
    %div.container

      %div.row
          %div.twelve.columns
            %h2
              <a style="color: black" href="/">Adopte un député <small>et fait son éducation numérique !</small></a> {% if current_user.is_anonymous() == False %}<a class="media button white" style="margin-top: 10px; float: right" href="{{ url_for('logout') }}">Se déconnecter</a>{% else %}<div style="float: right"><a href="{{ url_for('register') }}" class="media button">S'inscrire</a> <a href="{{ url_for('login') }}" class="media button">Se connecter</a></div>{% endif %}
              %hr

      -with messages = get_flashed_messages(with_categories=true)
        %div.row
          -if messages
            -for category, message in messages
              -if category
                <div class="alert-box {{ category }}">
                  {{ message }} <a href="" class="close">&times;</a>
                </div>
              -else
                %div.alert-box
                  {{ message }} <a href="" class="close">&times;</a>

      -block container
        %div.row
          %div.twelve.columns
            -block content


      %footer.row
        %div style="text-align: center;"
          Les données proviennent de <a href="http://nosdeputes.fr">NosDéputés.fr</a> par <a href="http://www.regardscitoyens.org/">Regards Citoyens</a> et sont sous licence <a href="http://opendefinition.org/licenses/odc-odbl/">ODBL</a>
        %div style="text-align: center;"
          <a href="https://github.com/Psycojoker/adopte-un-depute">Code</a>


    <!-- Included JS Files -->
    %script src="/static/javascripts/jquery.min.js"
    %script src="/static/javascripts/foundation.js"
    %script src="/static/javascripts/app.js"
    -block javascript
