-extends "_base.haml"

-block container
        <div class="row">
            <div class="eight columns">
                -block content
            </div>
            <div class="four columns">
                <div class="sidebar">
                    -block sidebar
                </div>
            </div>
        </div>
