-extends "base-sidebar.html"

{% block content %}
<h3>{{ depute.nom }} <small>{{ depute.groupe_sigle }}</small></h3>

<div class="inner-content">
<h4>Informations générales</h4>
<ul>
    <li>Groupe politique: {{ depute.groupe_sigle }}</li>
    <li>Mandat commencé le {{ depute.mandat_debut }}</li>
    <li>Profession: {{ depute.profession }}</li>
</ul>

<h4>Liens</h4>
<ul>
    <li><a href="http://www.nosdeputes.fr/{{ depute.slug }}">NosDéputés.fr</a></li>
    <li><a href="https://memopol.lqdn.fr/france/assemblee/depute/{{ depute.for_memopol }}/">Mémoire Politique de La Quadrature du Net</a></li>
    <li><a href="{{ depute.url_an }}">Page sur le site de l'Assemblée Nationale</a></li>
</ul>

<h4>Sur NosDéputés.fr</h4>
<div id="nosdeputes_rss">Loading...</div>

<h4>Actualitées le concernant</h4>
<div id="gnews">Loading...</div>
</div>
{% endblock %}

{% block sidebar %}
<img src="http://2007-2012.nosdeputes.fr/depute/photo/{{ depute.slug }}">

<h4>Statuts</h4>
<p>Personne n'a adopté ce député :(</p>
{% endblock %}

{% block javascript %}
<script>
$(function() {
    $.get("/depute/gnews/{{ depute.slug }}/", function(data) {
        $('div#gnews').html(data);
    });
    $.get("/depute/nosdeputes_rss/{{ depute.slug }}/", function(data) {
        $('div#nosdeputes_rss').html(data);
    });
});
</script>
{% endblock %}
