-extends "base.haml"

-block content
  %h3
    Introduction
  %p
    Projet de site pour rendre plus facile le suivit des activités de son député pour pouvoir l'éduquer.

  %h3
    Liste des députés


  %dl.tabs
      -for letter in deputes_by_letter.keys()|sort|first
        %dd
          %a.active href="#{{ letter }}"
            =letter
      -for letter in letters
        %dd
          %a href="#{{ letter }}"
            =letter


  %ul.tabs-content
      -for letter in deputes_by_letter.keys()|sort|first
        %li.active id="{{ letter }}Tab"
          %ul.deputes
            -for depute in deputes_by_letter[letter]
              -include "depute_row.haml"
      -for letter in letters
        %li id="{{ letter }}Tab"
          %ul.deputes
            -for depute in deputes_by_letter[letter]
              -include "depute_row.haml"
