-extends "base.haml"

-block content

  %div.four.columns.centered
    %form.nice action="{{ url_for('login') }}" method="POST"
      %fieldset
        %h3
          Se connecter
        %hr

        =form.csrf_token

        <div class="form-field{% if form.username.errors %} error{% endif %}">
          %label for="username"
            Login
          %input#username.medium.input-text type="text" name="username" placeholder="login"
          -for error in form.username.errors
            %small
              =error
        </div>

        <div class="form-field{% if form.password.errors %} error{% endif %}">
          %label for="password"
            Mot de passe
          %input#password.medium.input-text type="password" name="password" placeholder="mot de passe"
          -for error in form.password.errors
            %small
              =error
        </div>

        %label for="rememberme"
          =form.rememberme
          Se souvenir de moi

        %input.button style="float: right; margin-bottom: 4px" type="submit" value="Se connecter"

        %p style="padding-top:21px; margin-bottom: 0px"
          %a href="{{ url_for('register') }}"
            S'inscrire
